<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        {% for item in items %}
                            <li{{ item.attributes }}>
                                {{ link(item.title, item.url) }}
                                {% if item.below %}
                                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p>Copyright © {{ "now"|date("Y") }} <a href="#">Gotham</a><br>
                        Crafted with <span class="fa fa-heart pulse2"></span> by <a href="http://www.iesanetwork.com/g.leclercq">Guillaume Leclercq</a>.</p>
                </div>
            </div>
            <div class="social-share">
                <p>Share Gotham with your friends</p>
                <a href="#" class="twitter-share"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
